#
name: Build All OpenWrt 5.4

on:
  workflow_dispatch:
    inputs:
      bin:
        description: 上传固件BIN文件，默认：否
        required: true
        default: 'false'
        type: boolean
      firmware:
        description: 上传到Artifact，默认：是
        required: true
        default: 'true'
        type: boolean
      release:
        description: 是否发布固件，默认：是
        required: true
        default: 'true'
        type: boolean
        
env:
  REPO_URL: https://github.com/coolsnowwolf/lede
  REPO_BRANCH: master
  COMMIT_ID: d11884d
  #FEEDS_CONF: feeds.conf.default
  #CONFIG_FILE: ${{ inputs.model }}.config
  #DIY_P1_SH: ${{ inputs.model }}-diy-part1.sh
  #DIY_P2_SH: ${{ inputs.model }}-diy-part2.sh
  UPLOAD_BIN_DIR: ${{ inputs.bin }}
  UPLOAD_FIRMWARE: ${{ inputs.firmware }}
  UPLOAD_RELEASE: ${{ inputs.release }}
  TZ: Asia/Shanghai
  
jobs:
  prepare:
    name: Prepare
    runs-on: ubuntu-22.04

    outputs:
      #ROUTER_MODEL: ${{ steps.router.outputs.ROUTER_MODEL }}
      REVISION: ${{ steps.kernel.outputs.REVISION }}
      KERNEL54: ${{ steps.kernel.outputs.KERNEL54 }}
      KERNEL510: ${{ steps.kernel.outputs.KERNEL510 }}
    
    steps:
    - name: Show prepare information
      run: |
        cat <<EOF | sed -E 's/^  //' >> $GITHUB_STEP_SUMMARY
          #### Sources
          Time: $(date +"%Y-%m-%d %H:%M %A")
          Openwrt Source: $REPO_URL
          Upload Firware: $UPLOAD_FIRMWARE
          Upload Release: $UPLOAD_RELEASE
          Upload Bin: $UPLOAD_BIN_DIR
        EOF

    - name: Checkout
      uses: actions/checkout@v3

    - name: Query kernel and revision
      id: kernel
      run: |
          URL_4=https://raw.githubusercontent.com/coolsnowwolf/lede/master/include/kernel-5.4
          URL_10=https://raw.githubusercontent.com/coolsnowwolf/lede/master/include/kernel-5.10
          URL_REV=https://raw.githubusercontent.com/coolsnowwolf/lede/master/package/lean/default-settings/files/zzz-default-settings
        
          echo "REVISION=$(curl $URL_REV | awk -F \' '/DISTRIB_REVISION=/ {print $2}')" >> $GITHUB_OUTPUT
          echo "KERNEL54=$(curl $URL_4 | awk -F '[-,=]' '/LINUX_KERNEL_HASH/ {print $2}')" >> $GITHUB_OUTPUT
          echo "KERNEL510=$(curl $URL_10 | awk -F '[-,=]' '/LINUX_KERNEL_HASH/ {print $2}')" >> $GITHUB_OUTPUT
    - name: Show kernel and revision
      run: |
        cat <<EOF | sed -E 's/^  //' >> $GITHUB_STEP_SUMMARY
          #### Kernel and Revision
          固件版本: ${{ steps.kernel.outputs.REVISION }}
          内核版本: ${{ steps.kernel.outputs.KERNEL54 }} / ${{ steps.kernel.outputs.KERNEL510 }}
        EOF

  build:
    name: Build ${{ matrix.MODEL }}
    needs: prepare
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        MODEL:
          - hc5611
          - r3
          - r4a
    
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: 安装依赖
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo -E apt-get update
        echo "---------install依赖包-------------"
        sudo -E apt-get -y install $(cat $GITHUB_WORKSPACE/depends-ubuntu)
        #echo "---------dist-upgrade--------------"
        #sudo -E apt-get -y dist-upgrade

    - name: Apt clean space
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo -E apt-get -y autoremove --purge
        sudo -E apt-get clean

    - name: Set Timezone
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo timedatectl set-timezone "$TZ"

    - name: Clone source code
      run: |
        df -h
        echo "SPACE_A=$(df / | grep '/' | awk '{print $4}')" >> $GITHUB_ENV
        git clone $REPO_URL -b $REPO_BRANCH openwrt
        cd openwrt
        git checkout $COMMIT_ID
        
    - name: Load custom feeds
      run: |
        chmod +x ${{ matrix.MODEL }}-diy-part1.sh
        cd openwrt
        $GITHUB_WORKSPACE/${{ matrix.MODEL }}-diy-part1.sh

    - name: Update feeds
      run: cd openwrt && ./scripts/feeds update -a

    - name: Install feeds
      run: cd openwrt && ./scripts/feeds install -a

    - name: Load custom configuration
      run: |
        [ -e ${{ matrix.MODEL }}-5_4.config ] && mv ${{ matrix.MODEL }}.config openwrt/.config
        chmod +x ${{ matrix.MODEL }}-diy-part2.sh
        cd openwrt
        $GITHUB_WORKSPACE/${{ matrix.MODEL }}-diy-part2.sh
        echo "IPADD=$(grep "lan)" package/base-files/files/bin/config_generate | awk -F "\"" '{print $2}')" >> $GITHUB_ENV

    - name: Download packages
      id: package
      run: |
        cd openwrt
        make defconfig
        make download -j8
        find dl -size -1024c -exec ls -l {} \;
        find dl -size -1024c -exec rm -f {} \;

    - name: Compile the firmware
      id: compile
      run: |
        cd openwrt
        echo -e "$(nproc) thread compile"
        make -j$(nproc) || make -j1 || make -j1 V=s
        echo "status=success" >> $GITHUB_OUTPUT
        grep '^CONFIG_TARGET.*DEVICE.*=y' .config | sed -r 's/.*DEVICE_(.*)=y/\1/' > DEVICE_NAME
        [ -s DEVICE_NAME ] && echo "DEVICE_NAME=_$(cat DEVICE_NAME)" >> $GITHUB_ENV
        echo "FILE_DATE=_$(date +"%Y%m%d%H%M")" >> $GITHUB_ENV

    - name: Check space usage
      if: (!cancelled())
      run: |
        cd openwrt
        echo "SPACE_B=$(df / | grep '/' | awk '{print $4}')" >> $GITHUB_ENV
        du -h --max-depth=1 ./ --exclude=build_dir --exclude=bin
        
    - name: Organize files
      id: organize
      if: steps.compile.outputs.status == 'success' && !cancelled()
      run: |
        cd openwrt/bin/targets/*/*
        rm -rf packages
        echo "FIRMWARE=$PWD" >> $GITHUB_ENV
        echo "status=success" >> $GITHUB_OUTPUT

    - name: Show build information
      run: |
        df -h
        cat <<EOF | sed -E 's/^  //' >> $GITHUB_STEP_SUMMARY
          #### Firmware Information
          Time: $(date +"%Y-%m-%d %H:%M %A")
          文件信息: OpenWrt${{ env.DEVICE_NAME }}${{ env.FILE_DATE }}
          Version: $(cat ${{ env.FIRMWARE }}/version.buildinfo)
          网关地址: $IPADD
          Build Used: $(echo "scale=2;($SPACE_A-$SPACE_B)/1024000" | bc)G
          $(df -h / | awk '{print $2}' | tr "\n" ":" | sed -e 's/:$/\n/') $(df -h / | awk '{print $3}' | tr "\n" ":" | sed -e 's/:$/\n/')  $(df -h / | awk '{print $4}' | tr "\n" ":"|sed -e 's/:$/\n/')
          固件目录：$FIRMWARE
          固件文件:
          $(ls openwrt/bin/targets/*/*)
        EOF
        
    - name: Upload bin directory
      uses: actions/upload-artifact@v3
      if: steps.compile.outputs.status == 'success' && env.UPLOAD_BIN_DIR == 'true'
      with:
        name: OpenWrt_bin${{ env.DEVICE_NAME }}${{ env.FILE_DATE }}
        path: openwrt/bin

    - name: Upload firmware artifact
      uses: actions/upload-artifact@v3
      if: steps.organize.outputs.status == 'success' && env.UPLOAD_FIRMWARE == 'true'
      with:
        name: OpenWrt_firmware${{ env.DEVICE_NAME }}${{ env.FILE_DATE }}
        path: ${{ env.FIRMWARE }}

    - name: Generate release tag
      id: tag
      if: env.UPLOAD_RELEASE == 'true' && steps.organize.outputs.status == 'success'
      run: |
        echo "release_tag=$(date +"%Y.%m.%d-%H%M")${{ env.DEVICE_NAME }}-5.4" >> $GITHUB_OUTPUT
        touch release.txt
        
        cat <<EOF | sed -E 's/^  //' >> release.txt
          固件版本: ${{ needs.prepare.outputs.REVISION }} 
          内核版本: ${{ needs.prepare.outputs.KERNEL54 }} / ${{ needs.prepare.outputs.KERNEL510 }}
          网关地址: $IPADD
          Version: $(cat ${{ env.FIRMWARE }}/version.buildinfo)
        EOF
        
        echo "status=success" >> $GITHUB_OUTPUT

    - name: Upload firmware to release
      uses: softprops/action-gh-release@v1
      if: steps.tag.outputs.status == 'success' && !cancelled()
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.tag.outputs.release_tag }}
        body_path: release.txt
        files: ${{ env.FIRMWARE }}/*

  delete:
    name: Delete old workflow
    needs: [ prepare, build ]
    runs-on: ubuntu-22.04
    
    steps:
    - name: Delete workflow runs
      uses: Mattraks/delete-workflow-runs@v2
      with:
        retain_days: 1
        keep_minimum_runs: 2

    - name: Delete old Releases
      uses: dev-drprasad/delete-older-releases@v0.2.1
      if: env.UPLOAD_RELEASE == 'true' && !cancelled()
      with:
        keep_latest: 6
        delete_tags: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
