#
# Description: Build OpenWrt using GitHub Actions
#
name: Build OpenWrt 5.4

on:
  workflow_dispatch:
    inputs:
      model:
        description: 选择路由器型号
        required: true
        default: 'hc5611'
        type: choice
        options:
        - hc5611
        - r4a
        - r3
      bin:
        description: 上传固件BIN文件，默认：否
        required: true
        default: 'false'
        type: boolean
      firmware:
        description: 上传到Artifact，默认：是
        required: true
        default: 'true'
        type: boolean
      release:
        description: 是否发布固件，默认：是
        required: true
        default: 'true'
        type: boolean
        
env:
  REPO_URL: https://github.com/coolsnowwolf/lede
  REPO_BRANCH: master
  #FEEDS_CONF: feeds.conf.default
  CONFIG_FILE: ${{ inputs.model }}-5_4.config
  DIY_P1_SH: ${{ inputs.model }}-diy-part1.sh
  DIY_P2_SH: ${{ inputs.model }}-diy-part2.sh
  UPLOAD_BIN_DIR: ${{ inputs.bin }}
  UPLOAD_FIRMWARE: ${{ inputs.firmware }}
  UPLOAD_RELEASE: ${{ inputs.release }}
  TZ: Asia/Shanghai
  
jobs:
  prepare:
    name: Prepare ${{ inputs.model }}
    runs-on: ubuntu-22.04

    outputs:
      ROUTER_MODEL: ${{ steps.router.outputs.ROUTER_MODEL }}
      REVISION: ${{ steps.kernel.outputs.REVISION }}
      KERNEL: ${{ steps.kernel.outputs.KERNEL }}
    
    steps:
    - name: Determine router model
      id: router
      run: |
        if [ "${{ inputs.model }}" == "r4a" ]; then
        echo "ROUTER_MODEL=Xiaomi Mi Router 4A Gigabit Edition" >> $GITHUB_OUTPUT
        elif [ "${{ inputs.model }}" == "r3" ]; then
        echo "ROUTER_MODEL=Xiaomi Mi Router 3" >> $GITHUB_OUTPUT
        else
        echo "ROUTER_MODEL=HiWiFi HC5611" >> $GITHUB_OUTPUT
        fi

    - name: Show prepare information
      run: |
        cat <<EOF | sed -E 's/^  //' >> $GITHUB_STEP_SUMMARY
          #### Sources
          Time: $(date +"%Y-%m-%d %H:%M %A")
          Router Model: ${{ steps.router.outputs.ROUTER_MODEL }}
          Config File: $CONFIG_FILE
          Script Files: $DIY_P1_SH $DIY_P2_SH
          Openwrt Source: $REPO_URL
          Upload Firware: $UPLOAD_FIRMWARE
          Upload Release: $UPLOAD_RELEASE
          Upload Bin: $UPLOAD_BIN_DIR
        EOF

    - name: Checkout
      uses: actions/checkout@v6

    - name: Query kernel and revision
      id: kernel
      run: |
          URL_10=https://raw.githubusercontent.com/coolsnowwolf/lede/master/include/kernel-5.10
          URL_4=https://raw.githubusercontent.com/coolsnowwolf/lede/master/include/kernel-5.4
          URL_REV=https://raw.githubusercontent.com/coolsnowwolf/lede/master/package/lean/default-settings/files/zzz-default-settings
        
          echo "REVISION=$(curl $URL_REV | awk -F \' '/DISTRIB_REVISION=/ {print $2}')" >> $GITHUB_OUTPUT
          TESTING_KERNEL=$(awk -F= '/CONFIG_TESTING_KERNEL/ {print $2}' $GITHUB_WORKSPACE/$CONFIG_FILE)
          if [ "$TESTING_KERNEL" == "y" ]; then
            echo "KERNEL=$(curl $URL_4 | awk -F '[-,=]' '/LINUX_KERNEL_HASH/ {print $2}')" >> $GITHUB_OUTPUT
          else
            echo "KERNEL=$(curl $URL_10 | awk -F '[-,=]' '/LINUX_KERNEL_HASH/ {print $2}')" >> $GITHUB_OUTPUT
          fi
          # 测试内核为5.4，默认为5.10
    
    - name: Show kernel and revision
      run: |
        cat <<EOF | sed -E 's/^  //' >> $GITHUB_STEP_SUMMARY
          #### Kernel and Revision
          固件版本: ${{ steps.kernel.outputs.REVISION }}
          内核版本: ${{ steps.kernel.outputs.KERNEL }}
        EOF

  build:
    name: Build ${{ needs.prepare.outputs.ROUTER_MODEL }}
    needs: prepare
    runs-on: ubuntu-22.04
    
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: 清理Docker镜像和软件包
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        df -h
        sudo -E apt update
        docker rmi `docker images -q`
        sudo -E apt-get -y purge azure-cli ghc* zulu* llvm* firefox google* dotnet* powershell openjdk* mysql* php* mongodb* dotnet* moby* snapd* || true
        sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc
        sudo -E apt -y autoremove --purge
        sudo apt autoclean
        df -h

    - name: 安装依赖软件包
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo -E apt-get update
        echo "---------install依赖包-------------"
        #sudo -E apt-get -y install $(cat $GITHUB_WORKSPACE/depends-ubuntu)
        sudo -E apt-get -y install ack antlr3 asciidoc autoconf automake autopoint binutils bison build-essential \
        bzip2 ccache clang cmake cpio curl device-tree-compiler flex gawk gcc-multilib g++-multilib gettext \
        genisoimage git gperf haveged help2man intltool libc6-dev-i386 libelf-dev libfuse-dev libglib2.0-dev \
        libgmp3-dev libltdl-dev libmpc-dev libmpfr-dev libncurses5-dev libncursesw5-dev libpython3-dev \
        libreadline-dev libssl-dev libtool llvm lrzsz msmtp ninja-build p7zip p7zip-full patch pkgconf \
        python3 python3-pyelftools python3-setuptools qemu-utils rsync scons squashfs-tools subversion \
        swig texinfo uglifyjs upx-ucl unzip vim wget xmlto xxd zlib1g-dev
        #echo "---------dist-upgrade--------------"
        #sudo -E apt-get -y dist-upgrade

    - name: Apt Clean space
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo -E apt-get -y autoremove --purge
        sudo -E apt-get clean

    - name: Set Timezone
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo timedatectl set-timezone "$TZ"

    - name: Clone source code
      run: |
        df -h
        echo "SPACE_A=$(df / | grep '/' | awk '{print $4}')" >> $GITHUB_ENV
        git clone $REPO_URL -b $REPO_BRANCH openwrt

    - name: Load custom feeds
      run: |
        #[ -e $FEEDS_CONF ] && mv $FEEDS_CONF openwrt/feeds.conf.default
        chmod +x $DIY_P1_SH
        cd openwrt
        $GITHUB_WORKSPACE/$DIY_P1_SH

    - name: Update feeds
      run: cd openwrt && ./scripts/feeds update -a

    - name: Install feeds
      run: cd openwrt && ./scripts/feeds install -a

    - name: Load custom configuration
      run: |
        #[ -e files ] && mv files openwrt/files
        [ -e $CONFIG_FILE ] && mv $CONFIG_FILE openwrt/.config
        chmod +x $DIY_P2_SH
        cd openwrt
        $GITHUB_WORKSPACE/$DIY_P2_SH
        echo "IPADD=$(grep "lan)" package/base-files/files/bin/config_generate | awk -F "\"" '{print $2}')" >> $GITHUB_ENV

    - name: Download packages
      id: package
      run: |
        cd openwrt
        make defconfig
        make download -j8
        find dl -size -1024c -exec ls -l {} \;
        find dl -size -1024c -exec rm -f {} \;

    - name: Compile the firmware
      id: compile
      run: |
        cd openwrt
        echo -e "$(nproc) thread compile"
        make -j$(nproc) || make -j1 || make -j1 V=s
        echo "status=success" >> $GITHUB_OUTPUT
        grep '^CONFIG_TARGET.*DEVICE.*=y' .config | sed -r 's/.*DEVICE_(.*)=y/\1/' > DEVICE_NAME
        [ -s DEVICE_NAME ] && echo "DEVICE_NAME=_$(cat DEVICE_NAME)" >> $GITHUB_ENV
        echo "FILE_DATE=_$(date +"%Y%m%d%H%M")" >> $GITHUB_ENV

    - name: Check space usage
      if: (!cancelled())
      run: |
        cd openwrt
        echo "SPACE_B=$(df / | grep '/' | awk '{print $4}')" >> $GITHUB_ENV
        du -h --max-depth=1 ./ --exclude=build_dir --exclude=bin
        du -h --max-depth=1 ./build_dir
        du -h --max-depth=1 ./bin

    - name: Organize files
      id: organize
      if: steps.compile.outputs.status == 'success' && !cancelled()
      run: |
        cd openwrt/bin/targets/*/*
        rm -rf packages
        echo "FIRMWARE=$PWD" >> $GITHUB_ENV
        echo "status=success" >> $GITHUB_OUTPUT

    - name: Show build information
      run: |
        df -h
        cat <<EOF | sed -E 's/^  //' >> $GITHUB_STEP_SUMMARY
          #### Firmware Information
          Time: $(date +"%Y-%m-%d %H:%M %A")
          文件信息: OpenWrt${{ env.DEVICE_NAME }}${{ env.FILE_DATE }}
          Version: $(cat ${{ env.FIRMWARE }}/version.buildinfo)
          网关地址: $IPADD
          Build Used: $(echo "scale=2;($SPACE_A-$SPACE_B)/1024000" | bc)G
          $(df -h / | awk '{print $2}' | tr "\n" ":" | sed -e 's/:$/\n/') $(df -h / | awk '{print $3}' | tr "\n" ":" | sed -e 's/:$/\n/')  $(df -h / | awk '{print $4}' | tr "\n" ":"|sed -e 's/:$/\n/')
          固件目录：$FIRMWARE
          固件文件:
          $(ls openwrt/bin/targets/*/*)
        EOF
        
    - name: Upload bin directory
      uses: actions/upload-artifact@v5
      if: steps.compile.outputs.status == 'success' && env.UPLOAD_BIN_DIR == 'true'
      with:
        name: OpenWrt_bin${{ env.DEVICE_NAME }}${{ env.FILE_DATE }}
        path: openwrt/bin

    - name: Upload firmware artifact
      uses: actions/upload-artifact@v5
      if: steps.organize.outputs.status == 'success' && env.UPLOAD_FIRMWARE == 'true'
      with:
        name: OpenWrt_firmware${{ env.DEVICE_NAME }}${{ env.FILE_DATE }}
        path: ${{ env.FIRMWARE }}

    - name: Generate release tag
      id: tag
      if: env.UPLOAD_RELEASE == 'true' && steps.organize.outputs.status == 'success'
      run: |
        echo "release_tag=$(date +"%Y.%m.%d-%H%M")${{ env.DEVICE_NAME }}" >> $GITHUB_OUTPUT
        touch release.txt
        
        cat <<EOF | sed -E 's/^  //' >> release.txt
          OpenWrt for ${{ needs.prepare.outputs.ROUTER_MODEL }}
          固件版本: ${{ needs.prepare.outputs.REVISION }} 内核版本: ${{ needs.prepare.outputs.KERNEL }}
          网关地址: $IPADD
          Version: $(cat ${{ env.FIRMWARE }}/version.buildinfo)
        EOF
        
        echo "status=success" >> $GITHUB_OUTPUT

    - name: Upload firmware to release
      uses: softprops/action-gh-release@v2
      if: steps.tag.outputs.status == 'success' && !cancelled()
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.tag.outputs.release_tag }}
        body_path: release.txt
        files: ${{ env.FIRMWARE }}/*

  delete:
    name: Delete old workflow
    needs: [ prepare, build ]
    runs-on: ubuntu-22.04
    
    steps:
    - name: Delete workflow runs
      uses: Mattraks/delete-workflow-runs@v2
      with:
        retain_days: 1
        keep_minimum_runs: 2

    - name: Delete old Releases
      uses: dev-drprasad/delete-older-releases@v0.3.4
      if: env.UPLOAD_RELEASE == 'true' && !cancelled()
      with:
        keep_latest: 6
        delete_tags: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
